.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--divider);
  border-radius: var(--border-radius-regular);
  overflow: hidden;
  gap: 1px;
}

@media (max-width: 640px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 360px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
